body {
  margin: 0;
  padding: 0;
  background-color: #EEE;
}
#mainBody {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@font-face {
    font-family: MDL2;
    src: url(FullMDL2.woff) format("woff"), url(FullMDL2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}
#header {
  font-family: MDL2;
  font-size: 32px;
  padding: 10px;
  color: #FFF;
  background-color: #106ebe;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  #header h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 100;
    position: relative;
    top: -5px;
  }
  #titleArea {
    margin-left: 7px;
  }
#mainIcon::before {
  content: "\EF91";
  margin-right: 15px;
  position: relative;
  top: 2px;
}
#searchField {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 200px;
}
body .hideFavorite {
  opacity: .5;
  background: #0078d7;
}
#sidebar {
  width: 75px;
  background-color: #EEE;
  border-right-width: 1px;
  border-right-color: #CCC;
  border-right-style: solid;
}
.favorite {
  color: goldenrod;
  font-size: 3em;
  position: relative;
  top: 5px;
  left: 10px;
  display: inline-block;
  font-weight: bold;
  line-height: 0;
  transition: transform .1s ease-out;
  z-index: 100;
}
.favorite:hover {
  transform: scale(1.3, 1.3);
  cursor: pointer;
}
#container {
  display: flex;

}
#container h1, h2 {
  font-family: "Segoe UI", sans-serfif;
  font-weight: 100;
  margin-top: 10px;
  margin-left: 15px;
}
h2{

}
#content {
  padding: 10px;
  flex-grow: 2;

}
#sidebar li {
  list-style: none;
  padding-left: 0;
  padding: 5px;
  text-align: center;
  font-family: sans-serif;
  font-size: 11px;
  margin-bottom: 15px;
  margin-top: 5px;
}
#sidebar ul {
  padding: 0;
  margin: 0;
}
#sidebar li::before {
  font-family: "MDL2";
  display: block;
  font-size: 26px;
  margin-bottom: 10px;
}
#sidebar .branches::before {
    content: "\EBC2";
}
#sidebar .calendar::before {
  content: "\E787";
}
#sidebar .insights::before {
  content: "\E95E";
}
#sidebar .listening::before {
  content: "\E8F2";
}
#sidebar .settings::before {
  content: "\EFA6";
}
#header a {
  text-decoration: none;
  color: #FFF;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.dataArea {
  margin: 20px;
  font-family: "Segoe UI", sans-serif;
  background-color: #FFF;
  min-width: 500px;
  float: left;
  display: flex;
  flex-direction: column;
}
.dataArea a {
  text-decoration: none;
}
.dataArea a:hover {
  background-color: #FEFEFE;
}
.dataHeader {
  color: #0078d7;
  border-bottom: 1px #CCC solid;
  padding: 10px;
  border-left: 10px green solid;
}
.dataHeader:hover {
  background-color: #e6f7ff;
}
.dataContent {
  border-bottom: 1px #CCC solid;
}
.dataHeader h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.dataHeader h2 {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  display: inline-block;
}
.dataHeader h3 {
  font-size: 16px;
}
.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  margin-left:30px;

}
.releaseBox {
  font-size: 20px;
  font-weight: 100;
  padding: 15px;
  border-bottom: 1px #CCC solid
}
.releaseBox span:nth-child(2) {
  font-weight: bold;
}
.detail-row {
  padding: 10px;
}
.detail-row h4 {
  margin: 0;
  padding: 0;
  font-weight: 100;
  color: #0078d7;
}
.additionalDetails {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.additionalDetails p {
  margin: 10px;
  font-size: 16px;
  font-family: "MDL2", "Segoe UI", sans-serif;
}
.cLeft {
  xwidth: 50%;
  xfloat: left;
}
.cRight {
  xwidth: 50%;
  xfloat: right;
}
form input[type="submit"] {
  display: none;
}
form {
  display: flex;
}

.additionalDetails *::before {
  margin-right: 10px;
}

.hours::before {
  content: "\EC92";
}
.hotbugs::before {
  content: "\E713";
}
.triage::before {
  content: "\E81E";
}
.warnings::before {
  content: "\E2AC";
}
.arch::before {
  content: "\E950";
}
.passrate::before {
  content: "\E13C";
}


#dataViewWrapper {

width: 1000px;
overflow:hidden;
display: flex;
flex-wrap: nowrap;

}
#dataViews .linkDetails{
  width: 1000px;
  display: block;
}
#dataViews {
  width: 500%;
  display: flex;
flex-wrap: nowrap;
transition-property: transform;
transition-duration: 500ms;
transform: translateX(0)
}
#dataViews .dataArea{
  margin: 0;
  display: flex;
  flex-direction: column;
}
.dataContainer{
  display: flex;
  align-content: space-between;
  align-items:stretch;
  justify-content: space-between;

}
#dataViewWrapper[data-datapos = "1"] #dataViews{

transform: translateX(-20%)

}
#dataViewWrapper[data-datapos = "2"] #dataViews{

transform: translateX(-40%)

}
#dataViewWrapper[data-datapos = "3"] #dataViews{

transform: translateX(-60%)

}
#dataViewWrapper[data-datapos = "4"] #dataViews{

transform: translateX(-80%)

}



#left, #right {
  background-color: #ccc;
  color: white;
  border: none;
  font-size: 24px;
  padding: 15px;
  margin: 10px;
  transition: background-color .1s ease-in;
  xborder-radius: 5px;
  height: 150px;
  font-family: "Segoe UI",sans-serif;

}
#left:hover, #right:hover {
  background-color: #FFF;
  color: #ccc;
}
.buttonContainer{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.sendBuild{
  width: 150px;
  height: 60px;
  color: white;
  background-color: #106ebe;;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0;
}

.autolistContainer {
  float: right;
  margin-right: 18px;
  margin-left:1px;
  top: -20px;
  width: 200px;
  position:relative;
}

.autolist {
  color: gray;
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
  font-size:small;
  background-color:white;
  cursor: pointer;
  margin-left:10px;
  padding: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  margin-top:-10px;
  margin-left:1px;
  min-width: 208px;
}

.autolist:hover {
  background-color: gray;
  color:white;
}

#activityFeed {
  height: 400px;
  overflow: hidden;
  min-width: 300px;
  /*border: solid 1px red;*/
  float: left;
  margin: 20px;
}

@keyframes activityAnimation {
  0% {height:1px;}
  100% {height:40px;}
}

.activity {
  font-family: "Segoe UI", sans-serif;
  font-size:small;
  display: flex;
  flex-direction:column ;
  height: 40px;
  /*border: solid 1px red;*/
  animation-name: activityAnimation;
  animation-duration: .3s;
  animation-timing-function: ease-in;
}

.locAdded {
  color: green;
}

.locRemoved {
  color: red;
}


  /* The Modal (background) */
#modal {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 21; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    xbackground-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    transition-property: background;
    align-content: center;
    justify-content: center;
    align-items: center;
    }


/* Modal Content/Box */
#modalContent {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
    display: flex;
    height: 400px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI",sans-serif;


    flex-direction: column;
}
.brb {
  width: 300px;
  height: 300px;
  background-image: url(../images/brb.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.build .brb {
  xbackground-image: url(../images/brbg.png)
}

#modal.hidden{
  display: none;
}

/*content on main page */

.index #content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.index #content>div {
  border: 1px solid lightblue;
  width: 350px;
  margin: 10px;
  padding-left: 5px;
}
#savedItems .dataArea{
  width: 320px;
  min-width:320px;
  margin-top:0;

}
#savedItems{
 display: flex;
 flex-direction: column;  
 height: 400px;
 xoverflow-y: scroll;
 xoverflow-x:hidden;
 

}
#content #currentRings { width: 720px;}

.btn { margin: 20px auto}

.btn {
  background: #d99734;
  background-image: -webkit-linear-gradient(top, #d99734, #b86d2b);
  background-image: -moz-linear-gradient(top, #d99734, #b86d2b);
  background-image: -ms-linear-gradient(top, #d99734, #b86d2b);
  background-image: -o-linear-gradient(top, #d99734, #b86d2b);
  background-image: linear-gradient(to bottom, #d99734, #b86d2b);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  xline-height: 3em;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.dataHeader .btn {
  height: 12px;
  font-size: 10px;
  color: white;
  line-height: 12px;
  padding: 2px 6px;
  margin: 0;
  background: #3cb0fd;

}

#buildContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.screenShots img { height: 85%}
.screenShots p {margin: 0}
.screenShots{ width: 160px}
.cLeft, .cRight {flex: 2}

select {
   width: 240px;
   height: 44px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   color: #222;
   padding: 2px;
   font-size: 1.5em;
   }

   #releaseStatus {
     padding: 30px;
     border: 1px solid #aaa;
     margin: 5px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     text-align: center;
   }
   #releaseStatus p {
     margin: 0;
     padding: 0;
   }
   #buildSelect { display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center}


    .build #modal{
      transition-duration: 2s;
      background-color: rgba(255,255,255,0.9);
    }

    #animate {
      position: absolute;
      transform: translateX(-700px);
      top: 270px;
      transition-property:transform;
      left: 0;
    }

    .build #animate{
      transition-delay: 1s;
      transform: translateX(600px);
      transition-duration: 10s;

    }

    #bubbleText {
      font-family: Consolas;
      font-size: 1.3em;
      transform: translate(125px, 55px);
      position: relative;
      z-index: 100;
    }